<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Voice Magic Conference Report</title>

    <style>
        /* stype code */

    </style>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body id="app">
<div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
        <h1>Voice Magic 회의록</h1><br>
        <div class="row">
            <div class="col-md-4">
                <span class="input-group-btn">
                    <input type="file" id="input-file" class="form-control btn btn-info">
                </span>
            </div>
            <div class="col-md-3">
                <select class="form-control btn btn-default" id="encoder">
                    <option>FLAC</option>
                    <option>LINEAR16</option>
                    <option>MULAW</option>
                    <option>AMR</option>
                    <option>AMR_WB</option>
                    <option>OGG_OPUS</option>
                    <option>AMR_SPEEX_WITH_HEADER_BYTE</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control btn btn-default" id="sample-rate">
                    <option>8,000Khz</option>
                    <option>16,000Khz</option>
                    <option>44,100Khz</option>
                    <option>48,000Khz</option>
                </select>
            </div>
            <div class="col-md-3">
                <button id="report-btn" type="button" class="btn btn-primary">Report</button>
                <button id="save-btn" type="button" class="btn btn-success">Save</button>
                <button id="edit-btn" type="button" class="btn btn-danger">Edit</button>
                <button id="reset-btn" type="button" class="btn btn-warning">Reset</button>            
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid">
    <table class="table table-bordered table-responsive">
        <tr class="active">
            <td id="table-th1-td1"><h5>회의 제목</h5></td>
            <td id="table-th1-td2"><h5>회의 일시</h5></td>
            <td id="table-th1-td2"><h5>회의 참석자</h5></td>
        </tr>
        <tr>
            <td id="table-tr1-td1">
                Voice Magic 서비스 개발 회의
            </td>
            <td id="table-tr1-td2">2019. 06. 28</td>
            <td id="table-tr1-td3">
                지계광, 박형일, 윤기영, 이성식, 권도연, 채수삼
            </td>
        </tr>
        <tr class="active">
            <td id="table-th2-td1"><h5>회의 안건</h5></td>
            <td id="table-th2-td2"><h5>작성자</h5></td>
            <td id="table-th2-td3"><h5>소속</h5></td>
            </tr>
        <tr>
            <td id="table-tr2-td1">
                비즈니스 모델 Lean Canvas 보완<br>
                비즈니스 모델 전환(Pivoting) 방향<br>
                솔루션 개발 방안<br>
            </td>
            <td id="table-tr2-td2">권도윤</td>
            <td id="table-tr2-td3">
                KAIT AI BM 전문가 과정
            </td>
        </tr>
        <tr class="active">
            <td colspan="3" id="table-th3-td1"><h5>회의 내용</h5></td>
        </tr>
        <tr>
            <td colspan="3" id="table-td3-td1">
                <ul>
                    <li id="table-td3-td1-li1"><br><br></li>
                    <li id="table-td3-td1-li2"><br><br></li>
                    <li id="table-td3-td1-li3"><br><br></li>
                    <li id="table-td3-td1-li4"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                </ul>
            </td>
        </tr>
        <tr class="active">
            <td colspan="3" id="table-th4-td1"><h5>Action Items</h5></td>
        </tr>
        <tr>
            <td colspan="3" id="table-td4-td1">
                <ul>
                    <li id="table-td4-td1-li1"><br><br></li>
                    <li id="table-td4-td1-li2"><br><br></li>
                    <li id="table-td4-td1-li3"><br><br></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>

<!-- 버튼에 대한 Javascript Function 수정 필요 -->
<script>
    function openTextFile() {
        var input = document.createElement("input");
        input.type = "file";
        input.accept = "text/plain";
        input.onchange = function (event) {
            processFile(event.target.files[0]);
        };
        input.click();
    }
    
    function processFile(file) {
        // alert(files[0]);
        reader.onload = function () {
            // 
        };
        reader.readAsText(files[0]);
    }

    function InitFunction() {
        $('#report-btn').click(function () {
            $('#table-td3-td1').html(`
                <ul>
                    <li id="table-td3-td1-li1">
                        근데 연예인 중에서도 함께 많이 방송을 뭘 하게 될 일이 생기면 전전긍긍하고 제작장 댁에서 좀 빼 달라 나는 같이 지금 할 수가 끝까지 그런 거 조심하는 경우가 있고 어떤 분들은 또 천연덕스럽게 조는 괜찮고 훌륭하게 대처하는 분들도 계시더라구요. 어때요? 방송에 나와요. 뭐 예전에 잠깐 이렇게 사겼던 그런 사람인데 갑자기 반천계곡 예. 예 많이 힘들죠. 그냥 조그만 맞는구나 해서 헤어진 가벼운 관계는 그래. 우리 이모 친구는 계속 지내자. 근데 정말 막 축구 못살고 막 그러다가 어쩔 수 없는 이유로 헤어졌으면 나중에 만나서 친구 잘 지내는가? 이렇게 되는 거 이상한 거 아닌가요? 잘 지내는가?  
좋아했던 사람 자료 왔는가 보통 치료가 잘 안 되는 거예요. 그냥 쉽게 쉽게 만나는 스타일이 수도 있을 것 같아요. 근데 문제는이 여자가 딴 거를 못 해. 그렇지. 이런데 사 준다는 거야이 말을 할 때 얼마나 많은게 맞는 얘기고 못하는 얘기하며 방송용으로 창동역 역삼동 헤어졌어요. 상대방에게 다시 연락 없어요. 미친 거 같아. 다음에 술 마시고 전화 한 거야. 그래서 막 약속할 수 없는 말들을 자꾸 문자로 보내는 거예요. 다음날 되면 또 필요하거든. 당연히 병원에 있어요. 좀 받아 본 적이 있죠 있어요. 지금 어디야? 왜 보고 싶어서
여보세요. 마이크가 어디야? 뉘앙스가 그냥 지금 만나서 오늘 같이 있자. 뭐 이런 느낌이었어요. 아니, 그렇게 만나서 회포를 푸순 있겠죠? 하룻밤 근데 없고 하루 지나고 난 술도 깨고 나면 사랑하지 못하는 그런게 있지 않냐? 술취해서 전화한 거 그다음에 일어나는데 발신 열 두 번인데 0초 0초 0초 0초 0초 12분 이런 거 있잖아요. 참 술 먹었을 때 아침 일어나지마 주종 했던 거 핸드폰 확인했어요. 했나 누구한테 전화했는지 누구한테 문자 보냈는지 그리고 무슨 사진 찍은지
아니면 큰 나라는 기억안날때 무슨 사진 있는지 아니? 근데 이렇게 보고 소스라치게 놀란 적이 있지요. 이런 사진 왜 그런 거였지? 어? 거기가 있었지? 그렇군요. 지금 그러면은 사람들한테 많은 사람을 봤잖아요. 뒤에서 걱정해 주는 사람이 많아요. 알파 지랄하지 말라고 그런 거 같아요. 쌤이 술을 먹으면 조금 거칠어지는 느낌이 있다는 예전에 주소 좀 있었더라고요. 얘기하기 좀 그렇겠죠. 들어본 적이 그럼요. 당연하죠. 그냥 호주.       
행정 지역인데 쓰레기라고 그러더라고 너무 보고 싶어. 빨리 정리를 하자면 저는 오후에 사무실 이야기하는 쿨하게 헤어지는 것 불가능하다고 아름다운 이별 미드가 사람들을 많이 망쳐 놨어. 그래요. 뭐 연락을 한다고 칩시다. 근데 그거를 굳이 내 앞에서 할 필요 없다고 생각해. 만약에 내가 아끼는 사람이 그로 인해 스트레스를 받는다고 얘기했으면 9시 그 앞에서 어. 그래. 그거는 별론 거 같아. 그래. 친구 관계 내 앞에서 통화 하지 마라. 내가 마음이 너무 아파. 여자도 좀 더 조심하려고 하고 그런 그렇게 돼야 되는게 좋은 거 아니에요. 그래서 오늘 뭐 이거 목소리가 들려 함께 해 봤습니다. 남자분들 여자분들 이야기 좋고요.
사랑은 용기있는자가 쟁취한다. 너 옛날 말입니다. 사람 그린라이트를 이거는 제가 칭찬합니다. 알송 달송 어려운 신호들을 저희가 놓치지않고 알려 드립니다.<br><br>
                    </li>
                    <li id="table-td3-td1-li2">
                        그러니까 이거 이거 이거 한번 보도록 정말 오래된 네비 설치 거 있거든요. 해서 둘이 손잡고 다녀 아무런 감정이 없는 이거든요. 근데 제가 저번에 우리 사귀자고 장난 한번 썼어요. 처음에 그 여자애가 오더니 거절하는 거야. 근데 얼마 왜 진심으로 생각해 볼게. 이러는 거야? 갑자기 근데 친구 제가 사귈 수 있을까? 이런 소리가 작아서요. 근데 또 어제는 자기 놀러 가는데 그냥 자라고 잘 될 수 있을 거 같다는 그런 식으로 얘기를 하더라고요. 진짜 그치면 왜 그런지 모르겠어요. 이러는 거 혹시 클린라이트 싫어해요.<br><br>
                    </li>
                    <li id="table-td3-td1-li3">
                        내가 볼 때는 여자 분이 남자가 마음에 들었을 수도 있어요. 그냥 친구라고 이렇게 지내면서 집에 가서 혼자서 오늘은 뭐 이렇게 손도 잡고 뭐 어떻게 꺼? 어떻게 의미부여하는 손자들에게 설레어 할 수도 있는데 남자분이 딱 그 얘기를 하니까 이제 응. 그렇게 저는 생각을 해요. 아니, 난 지금 갑자기 진짜 머리가 생각해 보니까 이성친구랑 손을 잡고 다니는 건 이성친구를 넘어가는 거예요. 저는 아, 그럼요. 아니, 그냥 이렇게 친구면 아, 그래. 그거 들어가면 정도지. 어디 가는데 손을 잡고 가면서 우린 친구야 하는 건 너네 너네 숨기고 있는 거야. 너의 마음을 일단 잘 바라봐. 어렸을 때 인상이었는데 뭘 누나가 나에 대해서 남자로 생각한 건데 저는 여자가 생각하고 있었어.<br><br>
                    </li>
                    <li id="table-td3-td1-li4">
                        이 누나는 되게 자연스럽게 저 귀엽게 생각 혼났네. 같은데 저는 그때 여기 가슴살 이렇게 하면은 누나가 놀랄까봐. 그냥 근데 여기서 지금 막 먹고 집에 가서 의미하고 한다고요. 아까 그거 누나가 있을 때 핫도그 냄새도 복귀하면서 복지적 뽑기 제가 항상 하는 애가 우리가 이성 친구가 아닌가요를 물어볼 때 나중에 눈을 보고 뉴스를 본 다음에 입을 맞추고 싶은 친구가 아니고 근데 이렇게 받는데 키스하는 상상 할 수가 없어요. 어떤 기분일까? 이렇게 되면 좋아하는 거예요. 가장 간단한 아니에요. 아니, 근데 넌 스스로 치마를
제가 아는 모든 여자 데이터베이스를 지금 졸려 반대 머릿속으로 보고 싶은데 많이 더러워진 나이 말고 인터넷 스킨십을 했을 때 여자들이 있잖아요. 어디 어디 어디 부위가 아니? 원피스 입었어요. 그래서 이제 무릎이 맨 살이에요. 남자도 안 되게 반바지 줬단 말이야. 이렇게 나갈 때 무릎 무릎 접히는 부분이 어, 그녀의 무릎 팍 팍 쪽에 갔는데 그때 살짝 묻을 그때는 느낌하고 확대는 느낌 하고 그다음에 가만히 있는 느낌을 진짜 다르잖아요. 미르 느낌.<br><br>
                    </li>
                    <li id="table-td3-td1-li5">
                        걸어가다가 같은 거 안 들어준다. 그래서 마음이 좀 그거 드렸거든요. 수도 있었는데 가방 들어 준다는 거 이거 그린라이트 남자의 정의를 대부분의 남자를 얘기하는 겁니다. 물론 매너가 뭐야 돼 있는 거는 좀 그런 편이거든요. 제가 너무 무거워. 정말 관심이 없고 내가 싫어하는 애 뭐 요즘 들어 줄게. 할 수 있는 편이에요. 그런 사람 말고 자기가 싫으면 아무것도 안 해 주면 그 경험이 있는 분들 여성분들 - 있지 않습니까? 이게 진짜 무겁습니다. 2만 원 크기는 어떻게 이렇게 무겁지라는 마음이 너무 너무 고운데 그때를들을 정도면은 당연히 어떤 마음이 있어서 그 줄어드는 거군요.<br><br>
                    </li>
                    <li id="table-td3-td1-li5">
                        제 입장 생각해 보면서 불렀거든. 저는 연애하면서 가방 들어 본 적 한 번도 없어요. 좀 그거 남자 팔렸고 아니라고 생각해요. 우리 어머니도 한국왔을때 골뱅이 싫었던게 남자들은 자기 여자친구 메모 알 거 말고 그에게 무거운 책가방 저는 관심이 있다면 이렇게 할 수 있다고 생각해요. 그러면 다른 얘기긴 하지만 보기 싫다. 화장실 앞에서 이렇게 들고 있거나? 뭐 이런 걸 얘기하는 거야. 밖에서 걸어 다닐 때 남자들 위해서 많은 거 아니잖아요. 위에서 만들었고 만약에 그런 일이 있다면 먼저 남자한테 무슨 색 가방 들고 나올 건지 신발이나 벨트 좀 맞춰 줄 수 있겠니 되게 심하게 이왕이면 살 거면 그렇게 해야 되는데 아니잖아. 근데 그냥 몸에 배어 있는 사람 있잖아요. 저 일곱 생활을 안 했잖아요. 좀 그렇게 해야 된다는 강박이 좀 있었던 거 같아.<br><br>
                    </li>
                    <li id="table-td3-td1-li5">
                        그럴 수도 할 때를 들어 진짜 추운 날 우리 작가의 하나 이상의 감정이 없어. 내가 남잔데 없고 오빠하고 달달달 떨면서 벗어 주는게 아닌가요? 아, 여기 이거 이상해요.
근데 비 오는데도 떨어? 여자가 날씨 먼저 시비 나와야 되는 거 아니야. 오전 7시 아니다 드렸어요. 요즘 그렇게 내가 우리 어머니 어렸을 때 남자가 무조건 요즘 계속 문 열어 주고 그렇게 해야 된대. 요즘 애들은 형제들 하고 똑같은 시선으로 받고 싶으니까 오전에 안전모드 먼저 열고 이렇게 쫙 이렇게 중요한 욕먹는 경우도 많아요. 근데 있잖아. 만약에 ERP 입고 나왔어요. 추워 가지고 호출 거요. 거요. 저 내일 출근해야 돼서요. 날씨 확인하기 가방 안에 쓸데없는 거 있으면 빼 놓고 해요. 진짜 남녀평등 정말 완벽한 평동 얘기하는 거 새롭게 알게된 남자들이 하는 행동 중에서
보기 싫다. 과한 매너들 있잖아요. 문을 열어 준 것처럼 의자를 빼서 넣어 준다는 거 영화를 너무 많이 본 거 있어요. 제가 생각하는 그런 거예요. 상대한테 내가 지금 뭐를 해 줘. 딸하고이 사람이 못 느끼게 해주는게 저는 아까 내놓으라고 생각을 하는데 뭐야 친구가 세미톤 날이에요. 보통 이제 생리첫날 이면은 변비가 깨지거든요. 그 화장실 갔을 때 조용히 tv 리모콘이 볼륨을 높여 준다던가.<br><br>
                    </li>
                    <li id="table-td3-td1-li5">
                        이런 거 이런게 이런게 되는 거야 쓴다고 어쨌든 눌렀는데 이런 상황에서는 나이트로 봐도 괜찮을 것 같아요. 특별한 우리 형 시흥시 같은 남자들도 물론 있지만 대답해. 남자들은 곤경에 처해 있으면 그 여자가 그거를 라이트라고 오해하고 막 접근에서 좀 힘들고 좀 다 했습니까?<br><br>
                    </li>
                </ul>`
            );

            $('#table-td4-td1').html(`
                <ul>
                    <li id="table-td4-td1-li1">action item 1<br><br></li>
                    <li id="table-td4-td1-li2">action item 2<br><br></li>
                    <li id="table-td4-td1-li3">action item 3<br><br></li>
                </ul>`
            );
        });

        $('#reset-btn').click(function () {
            $('#table-td3-td1').html(`
                <ul>
                    <li id="table-td3-td1-li1"><br><br></li>
                    <li id="table-td3-td1-li2"><br><br></li>
                    <li id="table-td3-td1-li3"><br><br></li>
                    <li id="table-td3-td1-li4"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                    <li id="table-td3-td1-li5"><br><br></li>
                </ul>`
            );

            $('#table-td4-td1').html(`
                <ul>
                    <li id="table-td4-td1-li1"><br><br></li>
                    <li id="table-td4-td1-li2"><br><br></li>
                    <li id="table-td4-td1-li3"><br><br></li>
                </ul>`
            );
        });

        $('#edit-btn').click(function () {
            alert("회의록 내용을 편집 합니다.(기능구현 예정)")
        });

        $('#save-btn').click(function () {
            alert("회의록을 저장 하였습니다.");
        });
    }

    InitFunction()

</script>

</body>

</html>